<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tibia Central</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="main-grid">

  <header class="banner">
    <div id="title">
      <h1> Tibia Central</h1>
    </div>
    <div>
      <% if is_logged_in? %>
        <% find_character_information(session[:user_id]) %>
        <div class="user-char">
          <ul>
            <li>Character Name: <%= find_character_name(session[:user_id]) %></li>
            <li>Vocation: <%= find_character_vocation(session[:user_id]) %></li>
            <li>Level: <%= find_character_level(session[:user_id]) %></li>
            <li>World: <%= find_character_world(session[:user_id]) %></li>
            <li>Residence: <%= find_character_residence(session[:user_id]) %></li>
          </ul>
        </div>
        <form class="logout-form" action="/sessions" method="POST">
          <div class="user-logout">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Logout" class="logout-button">
          </div>
        </form>
      <% else %>
        <a href="/login">Sign up/Login</a>
      <% end %>
    </div>
    <nav class="nav-bar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Notifications</a></li>
        <li><a href="/">Messages</a></li>
        <li><a href="/">LFG</a></li>
        <li><a href="/user">Profile</a></li>
      </ul>
    </nav>
  </header>

  <main class="main-box">
    <%= yield %>
  </main>

  <aside class="side-bar">
    
    <div id="side-grid-box-one" class="aside-grid-box">
       <div id="sponsor-one">
        <img src="https://img1.wsimg.com/isteam/ip/4f739ee5-ba39-4145-8522-aeae047a8214/34994d46-25e1-4c71-a3d1-e1f24502076f.jpg/:/" alt="boom shadow audio">
      </div>
    </div>
      <div id="sponsor-two" class="aside-grid-box">
        <img src="https://img1.wsimg.com/isteam/ip/4f739ee5-ba39-4145-8522-aeae047a8214/34994d46-25e1-4c71-a3d1-e1f24502076f.jpg/:/" alt="boom shadow audio">
      </div>
    <div id="side-grid-box-two" class="aside-grid-box">
    
    </div>
    
    <div id="side-grid-box-three" class="aside-grid-box">
    
    </div>
    
    <div id="side-grid-box-four" class="aside-grid-box">
    
    </div>
    
    <div id="side-grid-box-five" class="aside-grid-box">
    
    </div>
    
    <div id="side-grid-box-six" class="aside-grid-box">
      <div class="important-stuff">
        <ul>
          <li><a href="">Terms and Conditions</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Cookie Policy</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>    
    </div>
  
  </aside>

</div>

</body>
</html>

